{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site Ceasuri{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'aplicatie/css/style.css' %}" type="text/css" />

</head>
<body>
    <header>
        <nav class="meniu">
            <div class="logo">WatchLux</div>
            <ul>
                <li><a href="{% url 'index' %}">Acasa</a>
                    <ul>
                        <li><a href="{% url 'index' %}#prezentare">Prezentare</a></li>
                        <li><a href="{% url 'index' %}#produse">Produse Populare</a></li>
                        <li><a href="{% url 'index' %}#info">Informatii</a></li>

                    </ul>
                </li>
                <li><a href="{% url 'despre' %}">Despre</a>
                    <ul>
                        <li><a href="{% url 'despre' %}#magazin">Despre magazin</a></li>
                        <li><a href="{% url 'despre' %}#echipa">Echipa</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'produse' %}">Produse</a></li>
                <li>
                    <a href="#">Categorii</a>
                    <ul>
                        {% for cat in categorii %}
                            <li>
                                <a href="{% url 'categorie' cat.stil_ceas %}">{{ cat.stil_ceas }} &nbsp; <i class="{{ cat.icon }}"></i></a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'cos' %}">Cos Virtual</a></li>

                {% if request.user.is_authenticated %}

                    {% if request.session.is_admin_site %}
                        <li><a href="{% url 'info' %}">Info</a></li>
                        <li><a href="{% url 'log' %}">Log</a></li>
                    {% endif %}

                    {% if request.session.is_admin_produse %}
                        <li><a href="{% url 'adauga_ceas' %}">Adauga ceas</a></li>
                    {% endif %}

                {% endif %}

                <li><a href="{% url 'signin' %}">SignIn</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'profil' %}">Profil</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>IP-ul tau: {{ ip }}</p>
        <p>&copy; 2025 Magazin Ceasuri</p>
    </footer>

</body>
</html>
