{% extends 'aplicatie/baza.html' %}
{% load static %}

{% block title %}Oferta Speciala{% endblock %}

{% block content %}

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}

<section id="oferta">
    <h2>Oferta Speciala 50% Reducere!</h2>
    <p>{{ mesaj }}</p>
    <p>Nu rata aceasta ocazie unica! Oferta este valabila doar pentru utilizatori logati care au acces.</p>
</section>

{% endblock %}
