{% extends 'aplicatie/baza.html' %}

{% block content %}

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}

<h2>Profilul utilizatorului</h2>

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Tara:</strong> {{ user.tara }}</p>
<p><strong>Oras:</strong> {{ user.oras }}</p>
<p><strong>Adresa:</strong> {{ user.adresa }}</p>
<p><strong>Puncte loialitate:</strong> {{ user.puncte_loialitate }}</p>
<p><strong>Cont premium:</strong> {{ user.cont_premium }}</p>

<a href="{% url 'change_password' %}">Schimba parola</a>
<br>
<a href="{% url 'logout' %}">Deconectare</a>

{% endblock %}
